<a href="https://colab.research.google.com/github/shilpa1820/Spotify_Dashboard/blob/main/genre_format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("/content/artist_data.csv")
df.head()

,Unnamed: 0,artist_id,artist_name,popularity,genres,followers
0,0,15UsOTVnJzReFVN1VCnxy4,XXXTENTACION,89,"['emo rap', 'miami hip hop']",40329130
1,1,0Y5tJX1MQlPlqiwlOH1tJY,Travis Scott,91,"['rap', 'slap house']",21866841
2,2,4MCBfE4596Uoi2O4DtmEMz,Juice WRLD,92,"['chicago rap', 'melodic rap']",27738722
3,3,3TVXtAsR1Inumwj472S9r4,Drake,98,"['canadian hip hop', 'canadian pop', 'hip hop'...",71820094
4,4,5IH6FPUwQTxPSXurCrcIov,Alec Benjamin,78,"['alt z', 'electropop', 'pop']",4137128

In [ ]:
new_genres=df['genres'].astype('string')
new_genres

0                         ['emo rap', 'miami hip hop']
1                                ['rap', 'slap house']
2                       ['chicago rap', 'melodic rap']
3    ['canadian hip hop', 'canadian pop', 'hip hop'...
4                       ['alt z', 'electropop', 'pop']
Name: genres, dtype: string

In [ ]:
new_genres=new_genres.str.replace('[','')
new_genres=new_genres.str.replace(']','')

new_genres=new_genres.str.replace("'",'')
new_genres

<ipython-input-24-854c7a06bfa4>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_genres=new_genres.str.replace('[','')
<ipython-input-24-854c7a06bfa4>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_genres=new_genres.str.replace(']','')

0                               emo rap, miami hip hop
1                                      rap, slap house
2                             chicago rap, melodic rap
3    canadian hip hop, canadian pop, hip hop, rap, ...
4                               alt z, electropop, pop
Name: genres, dtype: string

In [ ]:
df['genres']=new_genres
df

,Unnamed: 0,artist_id,artist_name,popularity,genres,followers
0,0,15UsOTVnJzReFVN1VCnxy4,XXXTENTACION,89,"emo rap, miami hip hop",40329130
1,1,0Y5tJX1MQlPlqiwlOH1tJY,Travis Scott,91,"rap, slap house",21866841
2,2,4MCBfE4596Uoi2O4DtmEMz,Juice WRLD,92,"chicago rap, melodic rap",27738722
3,3,3TVXtAsR1Inumwj472S9r4,Drake,98,"canadian hip hop, canadian pop, hip hop, rap, ...",71820094
4,4,5IH6FPUwQTxPSXurCrcIov,Alec Benjamin,78,"alt z, electropop, pop",4137128

In [ ]:
df.to_csv('artist_data.csv')